@use '../base/variables' as v;
@use '../base/minxis' as m;

.content-nosotros {

    .picture {
        margin-block-end: 2rem;
    }

    .bloque {
        margin: 0;
        padding: 1rem;
        border-inline-start: .3125rem solid v.$primary;
        font-size: 1.25rem
    }

    @include m.tablet { 
        @include m.grid(repeat(2, 1fr), 1.25rem);
        align-items: center;
    }

    .picture {
        margin-inline-end: 60px;
        margin-block-end: 0;
    }

    .img {
        transform: rotate(-6deg);
        border: 1.25rem solid v.$white;
        box-shadow: 9px 10px 5px -7px rgb(0, 0, 0, .35);
    }
} 